<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="10.0.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.1" targetFramework="net48" />
  <package id="Ninject" version="3.3.6" targetFramework="net48" />
  <package id="RJCP.Core.Environment" version="0.2.0" targetFramework="net48" />
  <package id="RJCP.Diagnostics.Trace" version="0.2.0" targetFramework="net48" />
  <package id="RJCP.IO.Buffer" version="0.2.0" targetFramework="net48" />
  <package id="RJCP.IO.Device" version="0.8.0" targetFramework="net48" />
  <package id="RJCP.SerialPortStream" version="3.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>