<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Neutron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Neutron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="Neutron" connectionString="Data Source=76.12.178.210;Initial Catalog=Neutron;Persist Security Info=True;User ID=jktieman;Password=Jmetmn$7"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Neutron" connectionString="Data Source=COMPAQ\SQLEXPRESS;Initial Catalog=NeutronTopura;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="Neutron" connectionString="Data Source=COMPAQ\SQLEXPRESS;Initial Catalog=Neutron;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="Neutron" connectionString="Data Source=CORSA-VSU2\SQLEXPRESS;Initial Catalog=Neutron;Integrated Security=True"
     providerName="System.Data.SqlClient" />-->
    <!-- Philippe Demo -->
    <!--<add name="Neutron" connectionString="Data Source=DATASYS2;Initial Catalog=NeutronEBin;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="Neutron" connectionString="Data Source=DATASYS2;Initial Catalog=Neutron;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <!--     Neutron-Milwaukee-2021 

    <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog= Neutron-Milwaukee-2021;Integrated Security=True" providerName="System.Data.SqlClient" />
 -->
    <!--     Milwaukee Tool PROD  
    
    <add name="Neutron" connectionString="Data Source=WMSSQLPROD;Initial Catalog=Neutron;Persist Security Info=True;User ID=svc_obdcinterface;Password=hassles-C9uBK3]4r4gW" providerName="System.Data.SqlClient" />
    <add name="HighJumpData" connectionString="Data Source=WMSSQLPROD;Initial Catalog=AAD;Persist Security Info=True;User ID=svc_obdcinterface;Password=hassles-C9uBK3]4r4gW" providerName="System.Data.SqlClient" /> 
   -->
    <!--     Milwaukee Tool TEST 
    <add name="Neutron" connectionString="Data Source=WMSSQLQC;Initial Catalog=Neutron;Persist Security Info=True;User ID=svc_obdcinterface;Password=hassles-C9uBK3]4r4gW" providerName="System.Data.SqlClient" />

      <add name="HighJumpData" connectionString="Data Source=WMSSQLQC;Initial Catalog=AAD;Persist Security Info=True;User ID=svc_obdcinterface;Password=hassles-C9uBK3]4r4gW"
      providerName="System.Data.SqlClient" /> 
     -->
    <!--  Milwaukee Tool DEVELOPMENT    

    <add name="HighJumpData" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=AAD;Integrated Security=True" providerName="System.Data.SqlClient" />
        
        <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=NeutronSF2021;Integrated Security=True" providerName="System.Data.SqlClient" />
  -->
    <!--<add name="Neutron" connectionString="Data Source=SONNY\SQLSERVER2014;Initial Catalog=Neutron;Persist Security Info=True;User ID=jktieman;Password=$jkt7tkt" providerName="System.Data.SqlClient" />-->
    <!-- Saint Francis

	  <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=NeutronSF2021;Integrated Security=True" providerName="System.Data.SqlClient" />
   	  -->
    <!--  Current local Neutron Testing Database

    <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=Neutron2023;Integrated Security=True" providerName="System.Data.SqlClient" />
	
	-->
    <!--   NeutronEBin Database  Clone of Neutron2023 on 5/4/2023 

    <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=NeutronEBin;Integrated Security=True" providerName="System.Data.SqlClient" />
-->
    <!--   NeutronJGH Database  new Database Jewish General Hospital

    <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=NeutronJGH;Integrated Security=True" providerName="System.Data.SqlClient" />
 -->
    
	  <!--   Neutron Wagner 2024 Database  -->
    
	  <!--Neutron Production  : Neutron Database 2025 -->
    <!--
    <add name="Neutron" connectionString="Data Source=uspl-sql01clu.wagner-group.eu;Initial Catalog=Neutron;Persist Security Info=True;User ID=NeutronClient;Password=HjJ2L3c7$247f*de3,dg" providerName="System.Data.SqlClient" />
       -->
    
	  
	  <!--Neutron Development : Wagner Server NeutronTest Database 2025-->
    <!--     --> 
    <add name="Neutron" connectionString="Data Source=uspl-sql01clu.wagner-group.eu;Initial Catalog=NeutronTest;Persist Security Info=True;User ID=NeutronClient;Password=HjJ2L3c7$247f*de3,dg" providerName="System.Data.SqlClient" />
   
	  
	  <!--Neutron Development : Allied Server Neutron Database 2025-->
    <!--      
	  <add name="Neutron" connectionString="Data Source=POWERSPEC\sqlexpress01;Initial Catalog=Neutron;Persist Security Info=True;User ID=jktieman;Password=Jmetmn$7" providerName="System.Data.SqlClient" />
	
	  <add name="Neutron" connectionString="Data Source=LENNY;Initial Catalog=Neutron;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
 -->  

    <!-- 
  <add name="DCLinkModel" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=dclink42;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
-->
    <!--  

    <add name="Neutron" connectionString="Data Source=TESTDB01;Initial Catalog=Neutron;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  -->
    <!--    
    <add name="Neutron" connectionString="Data Source=SFHSSQL04;Initial Catalog=Neutron;Integrated Security=True"
     providerName="System.Data.SqlClient" />
 -->
    <!--<add name="Neutron" connectionString="Data Source=SONNY\SQLSERVER2014;Initial Catalog=Neutron;Persist Security Info=True;User ID=jktieman;Password=$jkt7tkt" providerName="System.Data.SqlClient" />-->
    <!--  Topura   
    
    <add name="Neutron" connectionString="Data Source=POWERSPEC\SQLEXPRESS;Initial Catalog=Neutron-Top;Integrated Security=True" providerName="System.Data.SqlClient" />

  -->
    <!--
    <add name="Neutron" connectionString="Data Source=BOW-TOOLTOWER\SQLEXPRESS;Initial Catalog=Neutron;Persist Security Info=True;User ID=tooling;Password=pa$$w0rd"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Neutron.Properties.Settings>
      <setting name="ConfigFilePath" serializeAs="String">
        <value>C:\Neutron\Configuration\ConfigFile.Csv</value>
      </setting>
    </Neutron.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncAwaitBestPractices" publicKeyToken="532360cfd341384d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Neutron.Properties.Settings>
      <setting name="RootDirectory" serializeAs="String">
        <value>C:\Neutron\</value>
      </setting>
    </Neutron.Properties.Settings>
  </userSettings>
</configuration>